<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="style.css">


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="https://api.myjson.com/bins/zyv02"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="./scripts/data.json"></script> -->
    

</head>

<body>
    <div id="app">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="./bookstore.jpg" width="30" height="30" class="d-inline-block align-top" alt="">UBIQUM
                Bookstore
            </a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" v-model="searchQuery" placeholder="Search"
                    aria-label="Search">
            </form>
        </nav>
            
        <div class="lds-circle" v-show="loading"><div></div></div>
            <div class="main-body" v-show="!loading">
                <div class="flip-card" v-for="book in filterSearch" v-for="book in books">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img :src="book.cover" :alt="book.detail" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h3>{{book.title}}</h3>
                            <p>{{book.description}}</p>
                            <a data-fancybox="book" :href="book.detail"><button class="btn btn-outline-success my-2 my-sm-0">More info</button></a>
                        </div>
                    </div>
                </div>
                <div class="imgMessage" v-if="filterSearch.length == 0">
                    <div class="message"><img src="./noresults.jpg" width="50" height="50">{{ message }}</div>
                </div>
            </div>     
    </div>

    <div class="footer" v-show="!loading">
        <div class="card-footer text-muted">
            2019 UBIQUM Bookstore | All Rights Reserved
        </div>     
    </div>
    

    <script src="./scripts/vue.js"></script>
</body>

</html>